rules_version = '2';
service cloud.firestore {
	match /databases/{database}/documents {

  	function isLogged() {
    	return request.auth.uid != null;
    }

    function isAdmin() {
      return isLogged() && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.isAdmin == true;
    }

  	match /users/{user_id} {
      allow read: if true;
      allow create: if true;
      allow update: if (request.auth.uid == user_id && request.resource.data.isAdmin == false) || isAdmin();
    }
    match /material-requests/{material_request_id} {
      allow read: if isAdmin();
      allow create: if isAdmin() || request.resource.data.uid == request.auth.uid;
      allow update: if isAdmin() || request.resource.data.uid == request.auth.uid;
      allow delete: if isAdmin();
    }
  }
}
