rules_version = '2';
service cloud.firestore {
	match /databases/{database}/documents {
  	match /users/{user_id} {
      allow read: if true;
      allow create: if request.auth.uid == user_id;
      allow update: if false;
    }
  }
}
